<header class="new-bg py-4 px-6 flex items-center justify-between">
    <div class="flex items-center space-x-2">
        <img src="../../../../assets/logo.png" alt="Logo" class="h-10">
        <span class="text-2xl font-bold" [routerLink]="['/candidate/home']">Connect.</span>
    </div>
    <nav class="flex items-center space-x-6">
        <a href="#" [routerLink]="['/candidate/home']" class="text-lg font-semibold text-gray-800">Home</a>
        <a href="candidate/login" (click)="logout()" class="text-lg font-semibold text-gray-800">Logout</a>
    </nav>
    <div class="flex items-center space-x-6">
        <div class="flex items-center space-x-4 border-r border-gray-800 pr-6">
            <a href="#" [routerLink]="['/candidate/messages']" class="text-gray-800 flex flex-col items-center">
                <i class="fas fa-comments text-2xl"></i>
                <span class="text-sm">Message</span>
            </a>
            <a [routerLink]="['/candidate/applied-jobs']" href="#" class="text-gray-800 flex flex-col items-center">
                <i class="fas fa-briefcase text-2xl"></i>
                <span class="text-sm">Applied Jobs</span>
            </a>
            <a href="#" class="text-gray-800 flex flex-col items-center">
                <i class="fas fa-bell text-2xl"></i>
                <span class="text-sm">Notifications</span>
            </a>
        </div>
        <img  [src]="userImage" alt="User profile" [routerLink]="['/candidate/profile']"  alt="User Avatar" class="h-10 w-10 rounded-full">
    </div>
    
</header>